pillbox {
  min-width: 80px;
  display: inline-block;
  width: auto;
}
pillbox .pillbox .selections {
  background-color: transparent;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  padding: 0 1px;
  overflow-x: hidden;
  width: auto;
  height: auto;
}
pillbox .pillbox .selections ul {
  padding-left: 0;
  margin: 0;
}
pillbox .pillbox .selections ul li {
  padding-left: 0;
  list-style: none;
  float: left;
}
pillbox .pillbox .selections ul li.placeholder {
  font-size: 12px;
  line-height: 1.5;
  padding: 3px 5px 3px 10px;
}
pillbox .pillbox .selections ul li.padder {
  min-width: 20px;
  padding-left: 0;
}
pillbox .pillbox .selections ul li.padder a {
  cursor: default;
  font-size: 1.5em;
  text-decoration: none;
  color: #333;
}
pillbox .pillbox .selections ul li.padder align-content:hover {
  text-decoration: none;
}
pillbox .pillbox .selections ul .btn {
  cursor: default;
  margin: 1px 1px 1px 1px;
  border-color: #66afe9;
  background-color: rgba(102, 175, 233, 0.3);
}
pillbox .pillbox .selections ul .btn a {
  text-decoration: none;
  cursor: pointer;
  margin-right: 3px;
}
pillbox .pillbox .pillbox-clear {
  float: left;
}
pillbox .pillbox li.search {
  width: 100%;
  padding: 0 5px;
}
pillbox .pillbox li.search input {
  width: 100%;
  min-width: 10px;
  border-radius: 3px;
}
pillbox .pillbox li.dummy input {
  width: 1px;
  border: 0 !important;
  position: absolute;
  z-index: -1;
  outline-width: 0;
}
pillbox .pillbox .options {
  padding: 0;
  overflow-x: hidden ;
}
pillbox .pillbox .options li {
  list-style: none;
}
pillbox .pillbox .options li div {
  padding: 0 10px;
}
pillbox .pillbox .options li a {
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}
pillbox .pillbox .options li a > div:first-child {
  padding: 5px 5px 0 10px;
}
pillbox .pillbox .options li a > div:first-child:hover {
  text-decoration: none;
}
pillbox .pillbox .options li.highlight {
  background-color: rgba(0, 0, 0, 0.075);
}
pillbox .pillbox .options li.selected {
  background-color: rgba(102, 175, 233, 0.3);
}
pillbox .pillbox .options li.highlight.selected {
  background-color: rgba(102, 175, 233, 0.75);
}
pillbox .pillbox .options .popover-content {
  min-width: 140px;
}
pillbox .pillbox .options.no-scroll {
  overflow: hidden;
}
pillbox .open {
  position: relative;
}
pillbox.form-control {
  height: auto !important;
  min-height: 34px;
  padding: 2px !important;
}
pillbox.form-control .pillbox {
  margin: 0;
}
pillbox.form-control .pillbox .selections {
  background-color: transparent;
  border: 0;
}
pillbox.focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-group pillbox.form-control {
  min-height: 34px;
}
.form-group pillbox.form-control .selected-options li.placeholder,
.form-group pillbox.form-control .selected-options li.padder {
  font-size: 14px;
  line-height: 1.5;
  padding: 6px 12px;
}
.form-group pillbox.form-control .search input {
  font-size: 14px;
  height: 34px;
}
.form-group-sm pillbox.form-control {
  min-height: 30px;
}
.form-group-lg pillbox.form-control {
  min-height: 46px;
}
.form-group-lg pillbox.form-control .selected-options li.placeholder,
.form-group-lg pillbox.form-control .selected-options li.padder {
  font-size: 18px;
  line-height: 1.5;
  padding: 5px 10px;
}
.form-group-lg pillbox.form-control .search input {
  font-size: 14px;
  height: 34px;
}
/*# sourceMappingURL=multi-select.css.map */